/*_____________________________
____||  Cart Page Start  ||____
_______________________________*/
.area {
    display: grid;
    grid-template-columns: 3fr 1.1fr;
    gap: 40px;
}


.products-area-table .delete-btn:hover {
    color: var(--gray);
}






/*___________________________________________
____||  Login and Register Page Start  ||____
____________________________________________*/
.login-other .right .my-card {
    box-shadow: unset;
    max-width: 400px;
    padding: 24px 20px;
    border-radius: 2px;
}

.login-other .left img {
    width: 300px;
}


.login-other .or {
    width: 100%;
}

.or .right,
.or .left {
    width: 100%;
    background-color: var(--border-color2);
    height: 1px;
}

.other-login-option button {
    border: 1px solid var(--border-color2);
    padding: 12px;
    border-radius: 4px;
}



.other-login-option button:hover {
    background-color: var(--border-color);
}








/*______________________________________
____||  All Cateogry  Page Start  ||____
________________________________________*/
.category-page-grid-area a i {
    font-size: 10px;
}

.category-page-grid-area a {
    font-size: calc(var(--fs-sm) + 1px) !important;
    color: var(--gray);
}

.category-page-grid-area a:hover {
    color: var(--primary-color);
}


/* category-title */
.category-title {
    border-bottom: 2px solid var(--secondary-color);
    display: inline-block;
    padding-bottom: 2px;
    font-size: var(--fs-lg);
}


/* accessories */
.category-page-grid-area .sub-head {
    font-size: var(--fs-md) !important;
    font-weight: var(--fw-600);
}

.accessories a i {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: var(--red);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white)
}








/*_________________________________
____||  Contact  Page Start  ||____
___________________________________*/
.contact-area .profile-img-lg {
    border: 1px solid var(--border-color2);
}

.contact-area .left {
    max-width: 300px;
    height: fit-content;
    font-size: 16px;
    padding-bottom: 20px !important;
    background-color: var(--white);
}

.contact-area .left p {
    color: var(--gray);
    font-size: 14px;
}

.contact-area .left i {
    color: var(--gray);
}


@media (max-width:991px) {
    .area.my-grid-2 {
        margin: 0 auto;
        gap: 24px !important;
    }

    .login-other .left img {
        margin: 0 auto;
    }

    .login-other .right .my-card {
        width: 100%;
        max-width: 440px;
        margin: 0 auto;
    }


    /* For Cart Page */
    .area {
        grid-template-columns: 1fr;
    }
}




@media (max-width:556px) {
    .products-area-table {
        max-width: 600px;
        width: 100%;
        overflow-x: auto;
    }

    .products-area-table li {
        width: 800px;
    }

    .products-area-table .quantity-buttons {
        width: 120px;
    }

    .products-area-table .details {
        width: 200px !important;
        word-wrap: nowrap;
        text-wrap: nowrap;
    }

    .products-area-table .col {
        margin-right: 12px;
        word-wrap: nowrap;
        text-wrap: nowrap;
    }
}