/*_____________________________
____||  Cart Page Start  ||____
_______________________________*/
.cart-section .area {
    display: grid;
    grid-template-columns: 3fr 1.1fr;
    gap: 40px;
}

.cart-section .area .left {
    width: 100%;
    overflow: hidden;
}

.products-area-table .delete-btn:hover {
    color: var(--gray);
}

.delete-btn {
    color: var(--gray);
}

.delete-btn:hover {
    color: var(--primary-color);
}






/*___________________________________________
____||  Login and Register Page Start  ||____
____________________________________________*/
.login-other .right .my-card {
    box-shadow: unset;
    max-width: 400px;
    padding: 24px 20px;
    border-radius: 2px;
}

.login-other .left img {
    width: 200px;
}


.login-other .or {
    width: 100%;
}

.or .right,
.or .left {
    width: 100%;
    background-color: var(--border-color2);
    height: 1px;
}

.other-login-option button {
    border: 1px solid var(--border-color2);
    padding: 12px;
    border-radius: 4px;
}



.other-login-option button:hover {
    background-color: var(--border-color);
}


/* wishlist table */
.products-area-table .col {
    width: 110px;
}

.products-area-table .col.name-img {
    width: 260px;
}

.products-area-table .col.name-img h5:hover {
    color: var(--primary-color);
}

.products-area-table .col.buttons {
    width: 200px;
}





.orders-area .order-top-btn.active {
    color: var(--primary-color);
}

.orders-area .order-top-btn:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.orders-area .top input {
    background-color: var(--white);
    border: none;
    box-shadow: var(--shadow-1);
}

.orders-area {
    position: relative;
}


/* tab buttons */
.orders-area-tab-buttons {
    position: relative;
    display: flex;
    gap: 30px;
    list-style: none;
    padding: 10px 0;
}

.order-top-btn {
    position: relative;
    padding-bottom: 5px;
    cursor: pointer;
    font-size: 18px;
    color: #333;
}

.border-indicator {
    position: absolute;
    bottom: 6px;
    left: 0;
    width: 100px;
    height: 2px;
    background-color: var(--primary-color);
    transition: transform 0.4s ease-in-out, width 0.4s ease-in-out;
    transition-delay: .16s;
}

/* tab-content */
.tab-content {
    display: none;
    margin-top: 16px;
}

.tab-content.active {
    display: flex;
}

/*______________________________________
____||  All Cateogry  Page Start  ||____
________________________________________*/
.category-page-grid-area a i {
    font-size: 10px;
}

.category-page-grid-area a {
    font-size: calc(var(--fs-sm) + 1px) !important;
    color: var(--gray);
}

.category-page-grid-area a:hover {
    color: var(--primary-color);
}


/* category-title */
.category-title {
    border-bottom: 2px solid var(--secondary-color);
    display: inline-block;
    padding-bottom: 2px;
    font-size: var(--fs-lg);
}


/* accessories */
.category-page-grid-area .sub-head {
    font-size: var(--fs-md) !important;
    font-weight: var(--fw-600);
}

.accessories a i {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: var(--red);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white)
}










/*_________________________________________
____||  Order Completed  Page Start  ||____
__________________________________________*/
.order-completed-area {
    border: 4px solid var(--white);
    background-color: var(--border-color);
}

.order-completed .area {
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.order-completed .wrapper {
    background-color: aliceblue;
    border: 2px solid var(--border-color);
    max-width: 400px;
    width: 100%;
    padding: 24px 20px;
}







/*_________________________________
____||  Checkout Page Start  ||____
___________________________________*/
.checkout-layout .my-card {
    border-radius: 4px;
    border: none;
    max-width: unset;
    min-width: unset;
}

.checkout-layout input[type="text"],
.checkout-layout input[type="email"],
.checkout-layout input[type="number"] {
    padding: 8px;
    border-radius: 4px;
}

.checkout-layout select {
    border: 1px solid var(--border-color2);
    color: var(--secondary-color);
    font-size: var(--fs-sm);
}

.checkout-layout {
    display: grid;
    grid-template-columns: 1.2fr 3fr;
    gap: 24px;
}

.checkout-layout input[type="radio"] {
    width: 14px;
    height: 14px;
}

.checkout-layout input[type="radio"]:checked::after {
    width: 8px;
    height: 8px;
}








/*_____________ checkout layout right _________________*/
.checkout-layout .subcribe {
    background-color: var(--white);
    border: 2px solid var(--border-color);
    padding: 5px;
    width: 50%;
}


.checkout-layout table {
    border: 1px solid var(--white-off);
}

.checkout-layout table tr {
    border: 1px solid var(--white-off);
}

.checkout-layout td {
    min-width: 110px;
}

.checkout-layout table th {
    background-color: var(--white-off);
    font-size: var(--fs-md);
    padding: 12px 0;
    color: var(--gray);
}


/* image */
table .img-wrapper img {
    margin: 0 auto !important;
}

table a:hover {
    color: var(--primary-color);
}

/* quantity */
table .quantity button {
    padding: 10px !important;
    border-radius: 3px;
}

table .quantity button:hover {
    color: var(--primary-color);
}


/* note-submit */
.note-submit textarea {
    border-radius: 4px;
    height: 80px;
}








/*_______________________________
____||  Offer  Page Start  ||____
_________________________________*/
.offer-items .offer-item {
    transition: .3s linear;
}

.offer-items .offer-item:hover {
    transform: scale(.98);
}






/*_______________________________________
____||  Offer Details  Page Start  ||____
________________________________________*/
.offer-details-wrapper {
    box-shadow: var(--shadow-1);
    max-width: 680px;
    width: 100%;
    margin: 0 auto;
    background-color: var(--white);
    border-radius: 4px;
    padding: 16px;
}








/*_________________________________
____||  Contact  Page Start  ||____
___________________________________*/
.contact-area .profile-img-lg {
    border: 1px solid var(--border-color2);
}

.contact-area .left {
    max-width: 300px;
    height: fit-content;
    font-size: 16px;
    padding-bottom: 20px !important;
    background-color: var(--white);
}

.contact-area .left p {
    color: var(--gray);
    font-size: 14px;
}

.contact-area .left i {
    color: var(--gray);
}








/*_______________________________
____||  Deals  Page Start  ||____
________________________________*/
.deal-area .deals-top {
    width: 200px;
    height: 200px;
    background-color: var(--white);
    border-radius: 50%;
    margin: 0 auto;
}


.deal-area .deals-top .icon {
    width: 45px;
    height: 45px;
    border-radius: 50%;

    background-color: var(--border-color);
}




/*_______________________________________________
____||  Responsive Start Here  Page Start  ||____
________________________________________________*/
@media (max-width:991px) {
    .cart-section .area {
        grid-template-columns: 1fr
    }

    .products-table-wrapper {
        width: 100%;
        max-width: 1200px;
        overflow-x: auto;
    }

    .products-area-table {
        min-width: 1000px;
        width: 100%;
        white-space: nowrap;
    }

    .area.my-grid-2 {
        margin: 0 auto;
        gap: 24px !important;
    }

    .login-other .left img {
        margin: 0 auto;
    }

    .login-other .right .my-card {
        width: 100%;
        max-width: 440px;
        margin: 0 auto;
    }


    /* For Cart Page */
    .area {
        grid-template-columns: 1fr;
    }

    .checkout-layout {
        grid-template-columns: 100%;
    }


    /* table */
    .shopping-cart-area {
        overflow-x: auto;
        width: 100%;
        max-width: 600px;
    }

    .shopping-cart-area table {
        min-width: 700px;
        display: block;
    }

    .orders-area-tab-buttons {
        margin-top: 40px;
    }
}

@media (max-width:769px) {

    .checkout-layout .my-input-control .w-40 {
        width: 80px !important;
    }

    .checkout-layout .my-input-control input {
        width: calc(100% - 100px);
    }

    .login-other .left {
        margin-bottom: 16px;
    }


    /* orders-area */
    .orders-area {
        padding: 12px;
    }

    .orders-area form {
        width: 100%;
    }

    .orders-area .search {
        width: 100%;
    }

    .orders-area .order-item-top {
        padding: 20px;
    }
}


@media (max-width:556px) {


    /* .products-area-table .details {
        width: 200px !important;
        word-wrap: nowrap;
        text-wrap: nowrap;
    }

    .products-area-table .col {
        margin-right: 12px;
        word-wrap: nowrap;
        text-wrap: nowrap;
        min-width: 140px;
    } */

    .checkout-layout .my-input-control input {
        max-width: unset;
    }

    .checkout-layout .subcribe {
        width: 100%;
    }

    /* offer-details-wrapper */
    .offer-details-wrapper .head {
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }
}